{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block title %}
Cadastrar um usuário
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="d-grid gap-2 col-6 mx-auto mt-5 card">
  <div class="card-body">
    <p>Tem certeza que quer fazer o logout?</p>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Sim, logout.
  </button>

  {% else %}
  <div class="card-body">
    <div class="alert alert-danger" role="alert">
      Você não está logado.
    </div>
  </div>

  <a class="btn btn-outline-primary m-2" href="{% url 'home' %}" role="button">Voltar</a>
  <a class="btn btn-outline-primary" href="{% url 'cadastro_usuario:login' %}" role="button">Clique aqui para logar</a>
  {% endif %}


</div>


<!-- Modal de Logout -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Fazer logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que quer fazer o logout?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary">Sim, deslogar!</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}