{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block title %}
Cadastrar um usuário
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="d-grid gap-2 col-6 mx-auto mt-5 card">
  <div class="card-body">
    <p>Tem certeza que quer fazer o logout?</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Sim, logout.
    </button>

    {% else %}
    <div class="alert alert-danger" role="alert">
      Você não está logado. <a class="btn btn-outline-primary" href="{% url 'cadastro_usuario:login_view' %}"
        role="button">Clique aqui
        para logar</a>
    </div>
    {% endif %}

  </div>
</div>


<!-- Modal de Logout -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Fazer logout</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que quer fazer o logout?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-primary">Sim, deslogar!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Toast (exibido apenas se houver mensagens) -->
{% if messages %}
<div id="liveToast" class="toast align-items-center position-fixed top-0 end-0 p-3" role="alert" aria-live="assertive"
  aria-atomic="true" data-bs-autohide="true">
  <div class="d-flex">
    <div class="toast-body">
      {% for message in messages %}
      <i>{{ message }}</i>
      {% endfor %}
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
{% endif %}

<!-- CSS para o posicionamento do Toast -->
<style>
  .toast {
    top: 90px;
    right: 10px;
    z-index: 50;
    background-color: rgba(4, 255, 4, 0.185);
  }
</style>

<!-- JavaScript para exibir o Toast automaticamente -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var toastElement = document.getElementById("liveToast");
    if (toastElement) {  // Exibe o toast apenas se houver mensagens
      var toast = new bootstrap.Toast(toastElement, {
        delay: 3000  // Tempo de exibição do toast (3 segundos)
      });
      toast.show();
    }
  });
</script>


{% endblock %}