{% extends 'base.html' %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}

{% block content %}

<div class="container-fluid p-4 d-flex flex-column min-vh-100 fs-4">

    <h1 class="display-6">Detalhes do <strong>{{ animal.nome|capfirst}}</strong></h1>

    <div class="card mt-4" style="max-width: 100%;">
        <div class="card-body">

            <div class="row g-2">
                <!-- Coluna para a imagem principal -->
                <div class="col-md-4">
                    {% if animal.galeria.first %}
                    <img src="{{ animal.galeria.first.imagem.url }}" alt="Imagem de {{ animal.nome }}"
                        class="img-fluid rounded" style="height: 100%; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'img/default.png' %}" alt="Imagem padrão" class="img-fluid rounded"
                        style="height: 100%; object-fit: cover;">
                    {% endif %}
                </div>

                <!-- Coluna para os detalhes -->
                <div class="col-md-8">
                    <h5 class="card-title"><strong>Nome (Apelido):</strong> {{ animal.nome|capfirst}}</h5>
                    <p class="card-text"><strong>Idade:</strong> {{ animal.idade }} anos</p>
                    <p class="card-text"><strong>Raça:</strong> {{ animal.raca|capfirst }}</p>
                    <p class="card-text"><strong>Sexo:</strong> {{ animal.sexo|capfirst }}</p>
                    <p class="card-text"><strong>Espécie:</strong> {{ animal.especie|capfirst }}</p>

                    <!-- Botão de adoção -->
                    <div class="mt-4">
                        <a href="#" class="btn btn-primary">Adotar {{ animal.nome|capfirst }}</a>
                    </div>

                </div>
          
            </div>
        </div>
        <!-- header com data de criação -->
        <div class="card-header">
            <p class="card-text"><small class="text-muted">Criado em: {{ animal.data_criacao|date:"d/m/Y" }}</small></p>
        </div>
</div>
    <!-- Galeria de fotos -->
<div class="p-4">
    <h2 >Galeria de Fotos</h2>
    {% for item in animal.galeria.all %}
    <img src="{{ item.imagem.url }}" class="img-thumbnail h-100 w-200" alt="{{ item.imagem.url }}">
  
        {% endfor %}
    </div>
  
 
</div>
</div>
{% endblock %}