{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block title %}
Pesquisar um animal
{% endblock %}

{% block content %}



<div class="container my-2">
    {% if pesquisa_query %}
    <div class="mt-5">
        <div class="text-center">
            <h1 class="text-center mb-4">Você pesquisou... <strong>{{ pesquisa_query|capfirst }}</strong></h1>
        </div>
        <hr>

        <div class="row g-4">
            {% for animal in animais %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100">
                    {% if animal.galeria.first %}
                    <img src="{{ animal.galeria.first.imagem.url }}" class="card-img-top" alt="Imagem de {{ animal.nome|capfirst }}" style="height: 200px; object-fit: cover;">
                    {% else %}
                    <img src="{% static 'img\default.png' %}" class="card-img-top" alt="Imagem de {{ animal.nome|capfirst }}" style="height: 150px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title display-6">{{ animal.nome|capfirst }}</h5>
                        <p class="card-text">{{ animal.idade }} anos | {{ animal.especie|capfirst }} | {{ animal.sexo|capfirst }}</p>
                    <!-- Botão de adoção -->
                     <div class="d-flex">
                        <div class="p-2">
                            <a href="{% url 'detalhe_animal' animal.id %}" class="btn btn-outline-primary">Ver mais </a>
                        </div>
                        <div class="p-2">
                            <a href="{% url 'adotar_animais' %}" class="btn btn-outline-success">Adotar </a>
                        </div>
                   </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">Nenhum animal cadastrado.</p>
            {% endfor %}
        </div>

    </div>

    {% else %}
    <div class="d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
        <h1 class="display-6">Desculpe... <br>Você precisa pesquisar um animal antes!</h1>
        <div>
            <img src="{% static 'img/img_cachorro_pesquisaelse.png' %}" alt="Imagem de cachorro" class="img-fluid"
                style="max-width: 400px;">
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}