<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    {% load static %}
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Title -->
    <title>Abrigo Animal | {% block title %}Página inicial{% endblock %}</title>
</head>

<body class="poppins-regular">

    <!-- Navigation -->
    {% include 'nav.html' %}

    <!-- Main Content -->
    <main class="container my-4">
        {% block content %}{% endblock %}   <!-- conteudo de outras paginas -->


        <!-- Início do Toast -->
{% if messages %} <!-- Se houver mensagens, o Toast será exibido -->
{% for message in messages %} <!-- Loop para processar todas as mensagens -->
  
  {% if message.tags == 'success' %} <!-- Se for uma mensagem de sucesso -->
    <!-- Toast para mensagem de sucesso -->
    <div id="liveToast{{ forloop.counter }}" class="toast toast-alerts align-items-center text-white bg-success z-3 position-absolute end-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img me-2" width="20" height="20" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M10.8,16.8l-3.7-3.7l1.4-1.4l2.2,2.2l5.8-6.1L18,9.3 L10.8,16.8z"></path>
          </g>
        </svg>
        <strong class="me-auto">Bem-vindo, {{ user.first_name }}!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <i>{{ message|safe }}</i>
      </div>
    </div>

  {% elif message.tags == 'alerta-logout' %} <!-- Se for uma mensagem de logout -->
    <!-- Toast para mensagem de logout -->
    <div id="liveToast{{ forloop.counter }}" class="toast toast-alerts align-items-center text-white bg-warning z-3 position-absolute end-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img me-2" width="20" height="20" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M10.8,16.8l-3.7-3.7l1.4-1.4l2.2,2.2l5.8-6.1L18,9.3 L10.8,16.8z"></path>
          </g>
        </svg>
        <strong class="me-auto">Você foi desconectado!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <i>{{ message|safe }}</i>
      </div>
    </div>

  {% else %} <!-- Se for qualquer outra mensagem (erro, etc.) -->
    <!-- Toast para erro -->
    <div id="liveToast{{ forloop.counter }}" class="toast toast-alerts align-items-center text-white bg-danger z-3 position-absolute end-0 fade show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <svg class="bd-placeholder-img me-2" width="20" height="20" fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" xml:space="preserve">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M10.8,16.8l-3.7-3.7l1.4-1.4l2.2,2.2l5.8-6.1L18,9.3 L10.8,16.8z"></path>
          </g>
        </svg>
        <strong class="me-auto">Erro!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <i>{{ message|safe }}</i>
      </div>
    </div>

  {% endif %}
{% endfor %}
{% endif %}
<!-- Fim do alerta via toast -->


    </main>


    <!-- Footer -->
    {% include 'footer.html' %}


    <!-- Scripts -->
    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

</body>
</html>