{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    /*
        PAGINA HOME
*/

    /* Centraliza e define a largura máxima da página */
    .page-container {
        max-width: 700px;
        /* Define uma largura máxima para toda a página */
        margin: 0 auto;
        text-align: center;
    }

    /* Ajusta o carrossel ao tamanho da página */
    .carousel-container {
        max-width: 100%;
        /* Ajusta o carrossel à largura do container */
    }


    .custom-caption {
        background-color: rgba(0, 0, 0, 0.192);
        border-radius: 8px;
        display: inline-block;

    }

    .toast {
        top: 50px;
        right: 10px;
        z-index: 1050;
        background-color: rgba(4, 255, 4, 0.185);
    }
</style>


{% if messages %}
<div id="liveToast" class="toast align-items-center position-absolute" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-autohide="true">
    <div class="d-flex">
        <div class="toast-body">
            {% for message in messages %}
            <strong>{{ message }}</strong>
            {% endfor %}
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{% endif %}


<div class="row row-cols-auto p-4">
    {% for animal in animais %}
    <div class="col text-center">
        {% if animal.galeria.first %}
        <img src="{{ animal.galeria.first.imagem.url }}" class="rounded" alt="Imagem de {{ animal.nome|capfirst }}" width="360" height="260">
        {% else %}
        <img src="{% static 'staticfiles/img/default.png' %}" class="rounded" alt="Imagem padrão" width="360" height="260">
        {% endif %}
        <div class="py-2">
            <h5 class="font-bold">{{ animal.nome|capfirst }}</h5>
            <p>{{ animal.idade }} anos | {{ animal.especie|capfirst }} | {{ animal.sexo|capfirst }}</p>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container mx-auto p-4">
    <h2 class="text-center text-primary py-3 rounded border border-primary">
        Adote. Não Compre.
    </h2>
</div>


    <script>


        document.addEventListener("DOMContentLoaded", function () {
            var toastElement = document.getElementById("liveToast");
            if (toastElement) {  // Verifica se o toast está presente
                var toast = new bootstrap.Toast(toastElement, {
                    delay: 5000  // Duração do toast (3 segundos)
                });
                toast.show();  // Exibe o toast
            }
        });
    </script>



    {% endblock %}