{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block title %}
Lista de animais disponíveis
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Lista de Animais Cadastrados</h1>

    <div class="row g-4">
        {% for animal in animais %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                {% if animal.galeria.first %}
                <img src="{{ animal.galeria.first.imagem.url }}" class="card-img-top" alt="Imagem de {{ animal.nome|capfirst }}" style="height: 200px; object-fit: cover;">
                {% else %}
                <img src="{% static 'img\default.png' %}" class="card-img-top" alt="Imagem de {{ animal.nome|capfirst }}" style="height: 150px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title display-6">{{ animal.nome|capfirst }}</h5>
                    <p class="card-text">{{ animal.idade }} anos | {{ animal.especie|capfirst }} | {{ animal.sexo|capfirst }}</p>

                     <!-- Botão de adoção -->
                     <div class="d-flex justify-content-start">
                        <div class="">
                            <a href="{% url 'detalhe_animal' animal.id %}" class="btn btn-outline-primary">Ver mais </a>
                        </div>
                        <div class="">
                            <a href="{% url 'adocao_gestao:adote' %}" class="btn btn-outline-success ms-3">Adotar</a>
                        </div>
                   </div>
                    
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum animal cadastrado.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
